<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Enlazada</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="valor">
        <button type="submit" name = "agregar_final">Agregar Final</button>
        <button type="submit" name = "agregar_inicio">Agregar Inicio</button>
        <button type="submit" name = "eliminar_final">Eliminar Final</button>
        <button type="submit" name = "eliminar_inicio">Eliminar Inicio</button>
    </form>
    <h1>Impresión</h1>
    {{lista}}
    <br>
    <h1>Elemento Eliminado</h1>
    {{elemento_eliminado}}
</body>
</html>